dash==2.17.1
dash_bootstrap_components==1.6.0
dash_daq==0.5.0
loguru==0.7.2
nltk==3.9.1
numpy==2.2.0
pandas==2.0.3
plotly==5.18.0
plotly==5.23.0
protobuf==3.20.2
pydantic==2.10.3
Requests==2.32.3
scikit_learn==1.4.2
setuptools==75.6.0
tenacity==8.2.2
tiktoken==0.8.0
torch==2.5.1
tqdm==4.66.4
transformers==4.46.1
scikit-criteria==0.8.7