langchain_community==0.0.33
numpy==1.26.4
openai==1.19.0
pandas==2.2.2
PyPDF2==3.0.1
scikit_learn==1.4.2
tenacity==8.2.3
tiktoken==0.6.0
umap_learn==0.5.6
transformers==4.39.3
black==24.4.0
chromadb==0.4.24
PyYAML~=6.0.1
tokenizers~=0.15.2
python-dotenv~=1.0.1
faiss-cpu==1.8.0
langchain==0.1.16
semantic-text-splitter==0.11.0
bert-score==0.3.13
sentence-transformers=2.7.0