duckduckgo_search==6.1.6
graph==0.4
langchain==0.2.6
langchain_community==0.2.6
langchain_core==0.2.11
langchain_mistralai==0.1.9
langchain_openai==0.1.14
langgraph==0.1.5
latex2markdown==0.2.1
nltk==3.8.1
numpy==2.0.0
pandas==2.0.3
protobuf==5.27.2
pydantic==2.8.2
PyPDF2==3.0.1
python-dotenv==1.0.1
Requests==2.32.3
setuptools==69.1.1
tenacity==8.2.3
textstat==0.7.3
tiktoken==0.6.0
tokenizers==0.19.1
umap_learn==0.5.6
unstructured==0.11.8
