latex2markdown==0.2.1
loguru==0.7.2
pandas~=2.2.2
setuptools==75.3.0
unstructured~=0.16.4

utils~=1.0.2
requests~=2.32.3
unstructured-inference==0.8.1
unstructured.pytesseract==0.3.13
tesseract==0.1.3
pdfminer.six==20231228
nltk==3.9.1
pi_heif==0.20.0